[Unit]
Description=updatehub agent
After=network-online.target time-sync.target
Wants=network-online.target

[Service]
ExecStart=@BINDIR@/updatehub
Restart=on-failure

[Install]
WantedBy=multi-user.target
