[Unit]
Description=UpdateHub agent
After=network.target time-sync.target

[Service]
ExecStart=/usr/bin/updatehub

[Install]
WantedBy=multi-user.target
