[Unit]
Description=Run UpdateHub Local Update

[Service]
Type=oneshot
ExecStart=@BINDIR@/updatehub-local-update %i

[Install]
WantedBy=multi-user.target
