ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="add", \
  SUBSYSTEM=="block", \
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="updatehub-local-update@%k.service"

ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="remove", \
  RUN+="/usr/bin/systemd-mount -u @LOCAL_UPDATE_DIR@", \
  RUN+="/bin/rm -rf @LOCAL_UPDATE_DIR@"
