[Unit]
Description=updatehub agent
After=network.target time-sync.target

[Service]
ExecStart=@BINDIR@/updatehub
Restart=on-failure

[Install]
WantedBy=multi-user.target
