ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="add", \
  SUBSYSTEM=="block", \
  RUN+="/usr/bin/updatehub-local-update %k"

ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="remove", \
  RUN+="/bin/umount @LOCAL_UPDATE_DIR@", \
  RUN+="/bin/rm -rf @LOCAL_UPDATE_DIR@"
